*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 400px;
    width: 80%;
    background-color: red;
}


.child{
    height: 100px;
    width: 50%;
    background-color: yellow;
}

.card{
    height: 300px;
    width: 50%;
    background-color: gray;
    display: inline-block;
}

/* media queries */
@media (max-width: 420px){
    .card{
        background-color: blue;
    }
}